* { 
   box-sizing: border-box; 
}

body {
  font-family: Nunito;
  color: #fff;
  line-height: 1.5;
}

.wrapper {
  max-width: 1200px;
  margin: auto, 0;
}

header {
  background-color: #000000;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;
}

.hero {
  height: 100vh;
  background-image: url("images/ice-cream-cones.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  text-shadow: 2px 2px 2px grey;
  font-size: 3rem;
  font-family: 'Wix Madefor Display';
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  background-color: #7251B5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.favourites {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.team {
  background-color: #7251B5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.teammate {
  background-color: #6647A6;
  border-radius: 15%;
}

nav ul li a {
  list-style: none;
  text-decoration: none;
  color: #DEC9E9;
}

img.headshot {
  border-radius: 50%;
}